<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be my Valentine!</title>
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/main.js"></script>
</head>

<body>
  
    <div id="gifContainer">
        <img id="gifImage" src="/static/yippee.gif">
      </div>
    
    <div id="textContainer">
        <h3>Would you like to be my Valentine?</h3>
        <button onclick="toggleRainbow()">ABSOLUTELY!</button>
        <button onmouseover="moveButton()" id="no">No</button>
    </div>

</body>
</html>